@import "tailwindcss";
@import '@fontsource/ibm-plex-serif/300.css';
@import '@fontsource/ibm-plex-serif/400.css';
@import '@fontsource/ibm-plex-serif/500.css';
@import '@fontsource/ibm-plex-serif/300-italic.css';
@import '@fontsource/ibm-plex-serif/400-italic.css';
@import '@fontsource/ibm-plex-serif/500-italic.css';

@theme inline {
    --font-serif: "IBM Plex Serif", serif;
}

@layer base {
    html {
        @apply font-serif;
    }

    #inquiry strong {
        @apply font-medium;
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}
